[Unit]
Description=Avto Message Bot Django admin
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/avto-message-bot
EnvironmentFile=/home/avto-message-bot/.env
Environment=PYTHONPATH=/home/avto-message-bot/src
ExecStartPre=/home/avto-message-bot/env/bin/python /home/avto-message-bot/src/config/manage.py migrate --noinput
ExecStartPre=/home/avto-message-bot/env/bin/python /home/avto-message-bot/src/config/manage.py collectstatic --noinput
ExecStart=/home/avto-message-bot/env/bin/gunicorn config.wsgi:application --chdir /home/avto-message-bot/src/config --bind 0.0.0.0:8000 --workers 2 --timeout 120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
